<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Hopsters logo" class="db w2 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscribe to our free newsletter!</p>
			<!-- <p>The best craft beer news and reviews straight to your inbox.</p> -->

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-center">

			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
