<nav id="nav" class="overflow-x-scroll overflow-x-visible-ns flex-column justify-center items-center center bg-black divider-grey relative content-center">

	<!-- Logo -->

	<div class="flex justify-center">
	<a href="/" class="pt1 db h-100 w5 no-underline logo tc off-white">
		<div class="inline header-logo fw-3">
			WE <span class="grey-2">ARE</span>  H<span class="header-icon">
				<img src="/img/logo.svg" alt="Hopsters logo" class="br0 db mb0 w1"/>
			</span>PSTERS
		</div>
	</a>
  </div>
	<!-- Primary Nav -->
	<ul class="flex b grey-3 justify-center header-links">
		<!-- <li><a href="/" class="pa3 no-underline db">Home</a></li> -->

		<li><a href="/post" class="pa3 no-underline db ttu">Beers</a></li>

		<li><a href="/calendar" class="pa3 no-underline db ttu">Calendar</a></li>

		<li><a href="/about" class="pa3 no-underline db ttu">About</a></li>
	</ul>

</nav>
